/screen_captrue/ipch
/screen_captrue/pugixml_demo
/screen_captrue/Release
/screen_captrue/screen_captrue.sdf
/screen_captrue/Debug/*.obj
/screen_captrue/Debug
/screen_captrue/*.opensdf
/screen_captrue/.vs/screen_captrue/v14/.suo
