<?xml version="1.0"?>
<Info>
	<Play name="KINGHOO">
		<IPAddress value="10.18.3.62" />
		<Netmask value="255.255.255.0" />
		<Gateway value="10.18.3.1" />
		<FirstDNS value="218.6.200.139" />
		<SecondDNS value="61.139.2.69" />
    <NetName value="ÒÔÌ«Íø" />
		<MoreIP>
			<AddIPChild ip="192.0.0.211" netmask="255.255.255.0" />
		</MoreIP>
	</Play>
	<Play name="KINGHOO_DEMO">
		<IPAddress value="18.18.8.123" />
		<Netmask value="255.255.255.0" />
		<Gateway value="18.18.8.1" />
		<FirstDNS value="218.6.200.139" />
		<SecondDNS value="61.139.2.69" />
    <NetName value="WLAN" />
		<MoreIP />
	</Play>
</Info>
